.open-sans-regular {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.open-sans-bold {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.open-sans-light {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.custom-bg-image {
  width: 100%; /* Make the image take full width */
  height: auto; /* Maintain aspect ratio */
}

.navbar {
  padding: 1rem; /* Increase padding for larger navbar */
}

.navbar-brand {
  font-size: 1.5rem; /* Make brand text larger */
}

.nav-link {
  font-size: 1.2rem; /* Make nav link text larger */
}

.btn {
  font-size: 1.2rem; /* Make button text larger */
}

footer {
  background-color: #343a40; /* Dark background */
  color: white; /* Light text */
}

footer h5 {
  margin-bottom: 10px;
}

footer p {
  margin: 0;
}
